body {
    background: black;
    color: white;
    font-family: "Source Sans Pro","Helvetica","Arial","sans-serif";
}

.time {
    font-family: "Source Code Pro","Courier",monospace;
}

.elapsed {
    text-align: center;
    font-size: 20vh;
}

.cues {
    font-size: 8vh;
}

th {
    text-align: right;
    padding: 0 10px 0 0;
    white-space: nowrap;
}

td {
    text-align: left;
}

.gap-below {
    padding: 10px 0 0 0;
}